.contenido{
    width: 100%;
    height: auto;
}

.curvas{
    width: 100%;
    margin-left: -9px;   
}
.division{
    width: 100%;    
}
.menu{
    margin-left: -9%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar {
    background-color: transparent !important;
  }
  
  
.portadas{
    width:  99%;
    margin: auto;
    display:block;
}  
.red{

    width: 40px;
    height: 37px;
}

.boton{
    background-color:#003474;
  border: none;
  color: rgb(255, 255, 255) !important;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.boton:hover{
    background-color: #1b9dda;
    border: none;
    color: #000000 !important;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

ul{
	list-style:none;
}
a{
	text-decoration:none;
}


.box{
	width:340px;
	height:100%;
	background-color:#ffffff;
	border-radius: 10px;
	box-shadow: 2px 10px 12px#003474;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 270px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:  #003474;
	text-align: center;
    margin-top: 20px;
}
.marvel{
	color: #003474;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}

.box:hover{
	background-color:  #ebebeb;
	transform-style: preserve-3d;
	transform: scale(1.02s);
	transition: all ease 0.3s;
}
.box:hover .marvel{
	color:  #003474;
	transition: all ease 0.5s;
}
.F_cliente{
    width: 100%;
}
.final{
    width: 100%;
   
}
hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

#contact2{
    letter-spacing:3px;
}
footer.nb-footer {
    background:#003474;
    border-top: 4px solid  #1b9dda; 
}
footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; 
}
footer.nb-footer .about p {
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-top: 30px; 
}
footer.nb-footer .about .social-media {
    margin-top: 15px; 
}
footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255); 
}
footer.nb-footer .about .social-media ul li a:hover {
    background: #ffffff;
    color: #fff;
    border-color: #ffffff; 
}
footer.nb-footer .footer-info-single {
    margin-top: 30px; 
}
footer.nb-footer .footer-info-single .title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #ffffff;
    padding-left: 5px; 
}
footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 2px 0; 
}
footer.nb-footer .footer-info-single ul li a:hover {
    color: #01b7ff; 
}
footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: rgb(255, 255, 255); 
}
footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; 
}
footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; 
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  display: flex;
   justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0px 0px 0px 40px;
}



/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}
input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background:  #003474;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.bandera{
 margin-left: -20%;

}

.parrafo h3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #003474;
  
}
.parrafo p{
  text-align: justify;
}
.parrafo ul{
  text-align: center;
}
.destino{
  text-align: center;
}
.imagenes{
  width: 100%;
}
hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
.container1{
  display: flex;
  justify-content: center;
}
.container1 h1{
  text-align: center;
}
hr { 
  border: none; height: 1px;
  
  background-color: #003474;
}
.text{
      display: table;
}
.text p {
  display: table-cell;
  vertical-align:middle; 
  font-size: 300%; 
  padding-top: 30%;
  color: #003474;
}
.text1 h3, h1{
  color: #003474;
}
.lista{
  display: inline;
  float: left;
}
.lista1{
  margin-left: 40.5%;
}
.carrete{
  margin-top: 5%;
}